<!-- <p>
    post-list works!
</p> -->
<div>
        <input type="number" [(ngModel)]="userid" class="form-control" name="sort" placeholder="Sort by">
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    User Id
                </th>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Body
                </th>
                <th>
                    Deatails
                </th>
                <th>
                    Edit
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts | sort : userid ">
                <td>
                    {{post.userId | percent }}
                </td>
                <td>
                    <!-- {{post.id | currency  : 'INR'}} -->
                    {{post.id | price : '#'}}
                </td>
                <td>
                    {{post.title | lowercase}}
                </td>
                <td>
                    {{post.body | uppercase}}
                </td>
                <button class="btn btn-primmary" [routerLink]="post.id">Details</button>
                <td>
                    <button (click)="edit(post)" mat-raised-button color="primary">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>