<!-- <p>
    post-list works!
</p> -->
<div>
    <table>
        <thead>
            <tr>
                <th>
                    User Id
                </th>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Body
                </th>
                <th>
                    Deatails
                </th>
                <th>
                    Edit
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts">
                <td>
                    {{post.userId}}
                </td>
                <td>
                    {{post.id}}
                </td>
                <td>
                    {{post.title}}
                </td>
                <td>
                    {{post.body}}
                </td>
                <button class="btn btn-primmary" [routerLink]="post.id">Details</button>
                <td>
                    <button (click)="edit(post)" mat-raised-button color="primary">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>