<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Employee Mangement App</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a routerLink="post">Posts</a></li>
            <li><a routerLink="employee">Employee</a></li>
            <li><a routerLink="order">Order</a></li>
            <li><a routerLink="customer">Customer</a></li>
          </ul>
        </div>
      </nav>
      <!--
      <app-customer [customerList]="customerData"> </app-customer>
      
      
      <app-product></app-product>
      -->
  
  
      <!-- <app-emplyee> </app-emplyee> -->
  
  
      <!--<app-order>
  
      </app-order> -->
      <!-- <app-customer>
  
      </app-customer> -->
  
      <!-- <app-post></app-post> -->
      <router-outlet> </router-outlet>
  </div>