<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  
      <div style="text-align:center">
          <h1>
              Welcome to {{title}}!
          </h1>
      </div>
      <!--
      <app-customer [customerList]="customerData"> </app-customer>
      
      
      <app-product></app-product>
      -->
  
  
      <app-emplyee> </app-emplyee>
  
  
      <!--<app-order>
  
      </app-order> -->
      <!-- <app-customer>
  
      </app-customer> -->
  
      <app-post></app-post>
  </div>